@import '../../global.scss';

.hero {
    max-width: 100%;
    height: 100vh;
    position: relative;
    z-index: 200;
    display: flex;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    // background-color: red;

    .txt {
        position: absolute;
        font-size: 200px;
        font-weight: bold;
        // border: 1px solid red;
        height: max-content;
        width: max-content;
        padding: 0;
        text-transform: uppercase;

        @include phone {
            font-size: 95px;
            width: 100%;
            @include flex-center-center
        }

        &.planet_txt {
            left: 5%;
            top: 10%;

            @include phone {
                left: 0%;
                top: 20%;
            }

        }

        &.earth_txt {
            right: 5%;
            bottom: 10%;

            @include phone {
                right: 0%;
                bottom: 10%;
            }
        }
    }

}