@import '../../global.scss';

.footer{
    width: 100%;
    height: 100vh;

    .partners{
        @include tablet{
            background-color: green;
        }
        @include desktop{
            background-color: rgb(23, 0, 128);
        }
    }
}

#dark {
    .footer {
        background-color: $alabaster;
    }
}

#light {
    .footer {
        background-color: $bg-dark;
    }
}