// DEVICES
$desktop: 1024px;
$tablet: 780px;
$phone: 480px;

// COLORS
$white: rgb(241, 241, 232);
$alabaster: #e0dfd5ff;
$jet: #333333ff;
$chamoisee: #a57548ff;
$bondi-blue: #208aaeff;
$air-superiority-blue: #6096baff;
$bg-dark: rgb(24, 24, 24);


$rich-black: #01161eff;
$midnight-green: #124559ff;
$air-force-blue: #598392ff;
$ash-gray: #aec3b0ff;
$beige: #eff6e0ff;

// VRAI
$cursor-color: $midnight-green ;

$light-bg-color: $beige;
$light-font-color: $midnight-green ;
$light-btn-bg: $ash-gray;
$light-btn-text: $midnight-green;

$dark-bg-color: $rich-black ;
$dark-font-color: $ash-gray ;
$dark-btn-bg: $beige ;
$dark-btn-text: $midnight-green;


@mixin phone {
    @media (max-width : $phone) {
        @content;
    }
}
@mixin tablet {
    @media (min-width : $tablet) {
        @content;
    }
}


@mixin desktop {
    @media (min-width : $desktop) {
        @content;
    }
}



@mixin theme-light {
    background-color: $light-bg-color;
    color: $light-font-color;
}

@mixin theme-dark {
    background-color: $dark-bg-color;
    color: $dark-font-color;
}

@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    cursor: none;
}


#light {
    @include theme-light;

    * {
        color: $light-font-color;
    }
}

#dark {
    @include theme-dark;

    * {
        color: $dark-font-color;

    }
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.earth {
    position: absolute;
    top: 5%;
    right: 0%;
    width: 100%;
    height: 100vh;

    @include phone{
        // background-color: rgb(124, 0, 128);
        width: 100%;
        height: 100vh;
    }
    // z-index: 100;
    // background-color: red;
}

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $rich-black;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    pointer-events: none;
    z-index: 100000;
    mix-blend-mode: difference;
    display: flex;
    justify-content: center;
    align-items: center;

    @include phone{
        display: none;
    }
}